.pull-right.hidden-xs(ng-cloack)
	b Pi-hole Version 
	span {{$ctrl.pihole.version}}
	a.alert-link(href="https://github.com/pi-hole/pi-hole/releases",ng-if="$ctrl.pihole.update") (Update available!)
	b Web Interface Version 
	span {{$ctrl.piholeWeb.version}}
	a.alert-link(href="https://github.com/pi-hole/adminLTE/releases",ng-if="$ctrl.piholeWeb.update") (Update available!)
div
	i.fa.fa-github
	strong
		a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3J2L3Z4DHW9UY') Donate
	|  if you found this useful.