thead
    tr
        th Time
        th Type
        th Domain
        th Client
        th Status
        th Action
tfoot
    tr
        th Time
        th Type
        th Domain
        th Client
        th Status
        th Action